.container-nav-menu {
    
    .icon-menu {
        * {
            color: #fff;
        }
    }

    .header-menu {
        .title-menu {
            font-family: OpenSansBold;
            font-size: 1.5rem;
        }
    }

    .button-menu {
        *{
            user-select: none;
        }
        
        span {
            font-size: 1.3rem;
        }
    }
}
