// Animación del Loader (se mantiene a nivel raíz)
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

body.interact-resizing {
    user-select: none;
    cursor: col-resize !important;
}

// Contenedor principal del componente
.dynamic-table-container {
    // --- ENCABEZADO ---
    header {
        .search-data-container {
            border: 2px solid $main-purple;

            input {
                font-family: OpenSansSemiBold;
                font-size: 1.3rem;
            }

            .button-search {
                border-radius: 0;
            }
        }
    }

    // --- TABLA ---
    .table-wrapper {
        border-color: $border-color;

        table {
            border-collapse: collapse;
            border-spacing: 0px;

            thead {
                tr {
                    background-color: $main-grey;

                    .resizable-th {
                        padding: 0;
                        margin: 0px;
                        overflow: auto;
                        height: 35px;
                        border-right: 1px solid #fff;
                        min-width: 100px;
                        resize: horizontal;
                        position: relative;
                    }

                    th {
                        color: $light-grey;

                        &.table-header-text {
                            font-family: "OpenSansBold";
                            font-size: 1.3rem;
                        }

                        &.header-status {
                            max-width: 125px;
                        }

                        &.text-actions {
                            min-width: fit-content;
                            padding-inline: 20px;
                        }
                    }
                }
            }
            tbody tr {
                border-color: $border-color;

                &.table-tbody-tr:hover {
                    background-color: $beige;
                }

                .actions {
                    .actions-container {
                        .action-button {
                            border-radius: 100%;
                            overflow: hidden;
                            height: fit-content;
                            width: auto;
                            aspect-ratio: 1/1;
                            padding: 4px;
                            cursor: pointer;
                            transition: all 0.3s ease;
                            box-shadow: 0 0 5px #00000070;

                            &:hover {
                                opacity: 0.3;
                            }

                            .icon-action {
                                * {
                                    color: #fff;
                                }
                            }
                        }

                        .no-data {
                            font-family: OpenSansBold;
                            font-size: 1.4rem;
                            user-select: none;
                            color: #aaa;
                        }
                    }
                }

                .table-cell-text {
                    font-family: "OpenSansRegular";
                    font-size: 1.4rem;
                    overflow: hidden;
                    max-width: 100px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .status-pill-text {
                    font-family: "OpenSansBold";
                    font-size: 1.2rem;
                }

                .loader-text,
                .error-text {
                    font-family: "OpenSansSemiBold";
                    font-size: 1.6rem;
                }

                .no-data-text {
                    font-family: "OpenSansRegular";
                    font-size: 1.4rem;
                }
            }
        }
    }

    // --- PIE DE PÁGINA ---
    .table-footer {
        color: $main-grey;

        .items-per-page-select,
        .page-input {
            border-color: $border-color;
            width: 60px;
        }
        .pagination-arrow {
            border-color: $border-color;
            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }

        .btn-change-page {
            background-color: $main-purple;
            color: #fff;
            height: 25px;
            width: 25px;
            font-size: 1.4rem;
            font-weight: bolder;
        }

        // Estilos de fuente para el footer
        .footer-label-text {
            font-family: "OpenSansRegular";
            font-size: 1.2rem;
        }

        .footer-input-text {
            font-family: "OpenSansSemiBold";
            font-size: 1.2rem;
            width: 50px;
            outline-color: $main-purple;
        }

        .footer-select-text {
            font-family: "OpenSansSemiBold";
            font-size: 1.2rem;
            width: 50px;
            outline: none;
        }

        .footer-total-text {
            font-family: "OpenSansLight";
            font-size: 1.2rem;
        }
    }

    // --- LOADER ---
    .loader {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: inline-block;
        border: 4px solid $border-color;
        border-left-color: $main-purple;
        animation: spin 1s linear infinite;
    }
}
