.filter-dates-container {
    .title-dialog {
        font-family: OpenSansBold;
        font-size: 1.6rem;
        color: $main-blue;
    }

    .container-inputs {
        .form-control {
            .text-modal {
                font-family: OpenSansSemiBold;
                font-size: 1.3rem;
            }
        }
    }
}
