$font-color: #323232;
$font-color-sub: #717171;

$beige: beige;
$black: black;
$bg-blue: #195cc7;

$mainYellow: #c7ef52;
$mainBlue: #4139e6;
$mainBlack: #212528;

$pieceGreen: #21B300;
$pieceYellow: #FFAC33;
$pieceBlue: #195CC7;
$pieceGreenTwo: #99CC66;
$piecePurple: #8337ED;
$pieceGrey: #696969;
$piecePink: #F389FF;
$pieceOrange: #EB7A3F;
$pieceBlueTwo: #4FA3E3;
$pieceWhite: #CBCBCB;

$pieceGreenT: #21B30025;
$pieceYellowT: #FFAC3325;
$pieceBlueT: #195CC725;
$pieceGreenTwoT: #99CC6625;
$piecePurpleT: #8337ED25;
$pieceGreyT: #69696925;
$piecePinkT: #F389FF25;
$pieceOrangeT: #EB7A3F25;
$pieceBlueTwoT: #4FA3E325;
$pieceWhiteT: #CBCBCB25;