$main-purple: #9d50dc;
$main-blue: #2649ab;
$main-green: #2b9a66;
$main-black: #292929;
$main-grey: #494949;
$main-gradient: linear-gradient(45deg, $main-blue, $main-purple);

$beige: beige;
$white: #ffffff;
$light-grey: #f9f9f9;
$border-color: #e0e0e0;

.button-squeleton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: OpenSansSemiBold;
  background: #000000;
  color: #ffffff;
  padding: 5px 10px;
  gap: 5px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  border: 2px solid transparent;

  &:hover {
    background: #464646;
  }

  .icon-button {
    font-size: 2rem;

    * {
      color: #ffffff;
    }
  }

  .icon-button-dark {
    font-size: 2rem;

    * {
      color: #000000;
    }
  }
}

/* Variantes */
.button-green {
  background: #1fd545;
  color: #ffffff;

  &:hover {
    background: #17ed4b;
  }
}

.button-blue {
  background: #1d4ed8;
  color: #ffffff;

  &:hover {
    background: $main-blue;
  }
}

.button-red {
  background: #ff0000;
  color: #ffffff;

  &:hover {
    background: #bb1818;
  }
}

.button-purple {
  background: $main-purple;
  color: #ffffff;

  &:hover {
    background: #6b21a8;
  }
}

.button-gray {
  background: #374151;
  color: #ffffff;

  &:hover {
    background: #1f2937;
  }
}

.button-light {
  background: #ffffff;
  color: #111827;

  &:hover {
    background: #e1e1e1;
  }
}

.button-yellow {
  background: #f59e0b;

  &:hover {
    background: #d97706;
  }
}

.button-alternative {
  background: #ffffff;
  color: #000;
  border: 2px solid #000;

  &:hover {
    background: #e1e1e1;
  }
}

.button-gradient {
  background: $main-gradient;

  &:hover {
    background: $main-gradient;
    opacity: 0.8;
  }
}

// Alerta de sweetAlert
.alertSwal {
  z-index: 9999 !important;

  .popup {
    border-radius: 10px;

    .title {
      font-family: OpenSansBold;
      font-size: 1.7rem;
    }

    .text {
      font-family: OpenSansSemiBold;
      font-size: 1.2rem;
    }

    .button {
      @extend .button-squeleton;
      @extend .button-blue;
      font-size: 1.4rem;
    }

    .buttonCancel {
      @extend .button-squeleton;
      @extend .button-purple;
      font-size: 1.4rem;
    }
  }
}
