.container-requisitions-view {
    .requisitions-title {
        font-size: 2rem;
        font-family: OpenSansBold;
        color: $main-blue;
    }

    .tab-container-bg {
        box-shadow: 0 0 10px #00000050;

        .button-tab-default {
            background-color: #fff;
            font-size: 1.1rem;
            font-family: OpenSansBold;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                background-color: #dddddd;
            }
        }

        .button-tab-active {
            background: linear-gradient(45deg, $main-blue, $main-purple);
            color: #fff;
            transition: all 0.3s ease;
        }
    }

    .container-buttons {
        .dates-text {
            font-size: 1.6rem;
            font-family: OpenSansBolder;
            color: $main-blue;
        }
    }
}
