@import "tailwindcss";
@plugin "daisyui";

* {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: OpenSansRegular, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}